.App {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
  flex-grow: 1;
  font-family: "Pokemon GB"; 
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-bar{
  margin-bottom: 2vh;
}

.pokedex{
  display: grid;
  grid-template-areas: "pokedex-header-left pokedex-header-right";
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  height: auto;
  border-style: solid;
  border-color: white;
  margin-bottom: 2vh;
}

.pokedex-header-column{
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 20vh;
  height:max-content;
  max-width: 20vh;
  font-size: 20px;
  margin-right: 2vh;
}

img {
  height: 20vh;
  width: 20vh;
  flex: 3;
}

.pokemon-number{
  flex: 1;
  justify-content: center;
}

.pokedex-body {
  display: flex;
  max-width: 40vh;
  background-color: #282c34;
  color: white;
  text-align: left;
  font-size: 20px;
  flex-wrap: wrap;
  border-style: solid;
  border-color: white;
}

@font-face {
  font-family: "Pokemon GB";
  src: url("https://db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.eot");
  src: url("https://db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/831e1f4da157d96bc996f8c9f5f1e578.svg#Pokemon GB")format("svg");
}